.master{
    width: 85%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cantidad{
    width: 150px;
}

.Spinners{
    display: none;   
}

.card{
    box-shadow: 2px 2px 5px black;
}